{% extends "kbde/django/views/Form.html" %}


{% block form_container %}
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.css" rel="stylesheet">

    <style sass>
    .dropzone-js-form{
        .form-fields{
            display: none;
        }
    }
    </style>

    <div class="dropzone-js-form">
        {{ block.super }}
    </div>

    <script>
    $(function(){
        var $form = $("#form-{{ view.id }}")
        $form.addClass("dropzone")
        $form.dropzone({{ dropzone_config|safe }})
    })
    </script>
{% endblock %}


{% block form_buttons %}
{% endblock %}