<div class="voicemail-detail">
    {% block voicemail_detail %}
        <div class="time">{{ object.time_sent }}</div>
        <audio controls src="{{ object.message.url }}"></audio>
    {% endblock %}
</div>
