{% extends "kbde/django/views/Form.html" %}


{% block form_container %}
<div class="voicemail-create" id="{{ view.id }}" style="display: none;">
    {{ block.super }}
</div>
{% endblock %}


{% block form_fields %}
<div class="d-none">
    {{ block.super }}
</div>
{% endblock %}


{% block form_buttons %}
<div class="recording-alert">Recording in process</div>

<div class="recording-buttons">
    <button class="start-recording-button" type="button">Start Recording</button>
    <button class="end-recording-button" type="button">End Recording</button>
</div>

<audio controls></audio>


<div class="bottom-buttons">
    <a class="record-again-button" type="button">Record Again</a>
    {{ block.super }}
</div>


<script>
"use strict"

var VoicemailCreate = function(element){
    var that = this

    that.$element = $(element)
    that.$message_input = that.$element.find("#{{ form.message.auto_id }}")

    that.$recording_alert = that.$element.find(".recording-alert")
    that.$start_recording_button = that.$element.find(".start-recording-button")
    that.$end_recording_button = that.$element.find(".end-recording-button")
    that.$audio = that.$element.find("audio")
    that.$record_again_button = that.$element.find(".record-again-button")
    that.$submit_button = that.$element.find(".submit-button")

    that.media_recorder = null
    that.audio_chunks = []

    that.start_recording = function(){
        navigator.mediaDevices.getUserMedia({"audio": true}).then(that.handle_audio_stream)
    }

    that.handle_audio_stream = function(audio_stream){
        that.media_recorder = new MediaRecorder(audio_stream)
        that.audio_chunks = []

        that.media_recorder.addEventListener("dataavailable", that.record_audio_chunk)
        that.media_recorder.addEventListener("stop", that.handle_media_recorder_stopped)

        that.media_recorder.start()

        that.$recording_alert.show()
        that.$start_recording_button.hide()
        that.$end_recording_button.show()
        that.$audio.hide()
        that.$record_again_button.hide()
        that.$submit_button.hide()
    }

    that.record_audio_chunk = function(e){
        that.audio_chunks.push(e.data)
    }

    that.end_recording = function(){
        that.media_recorder.stop()
    }

    that.handle_media_recorder_stopped = function(){
        {# Release other media streams #}
        var tracks = that.media_recorder.stream.getTracks()

        tracks.forEach(function(track){
            track.stop()
        })

        that.file_reader = new FileReader()
        that.file_reader.onloadend = that.handle_file_reader_loaded

        var blob = new Blob(that.audio_chunks, {"type": "audio/mpeg"})
        that.file_reader.readAsDataURL(blob)
    }

    that.handle_file_reader_loaded = function(){
        var audio_data = that.file_reader.result

        {# load the recording into the audio player #}
        that.$audio.attr("src", audio_data)

        {# load the recording into the message input #}
        that.$message_input.val(audio_data)

        that.$recording_alert.hide()
        that.$start_recording_button.hide()
        that.$end_recording_button.hide()
        that.$audio.show()
        that.$record_again_button.show()
        that.$submit_button.show()
    }

    that.$start_recording_button.click(that.start_recording)
    that.$end_recording_button.click(that.end_recording)
    that.$record_again_button.click(that.start_recording)

    that.$recording_alert.hide()
    that.$start_recording_button.show()
    that.$end_recording_button.hide()
    that.$audio.hide()
    that.$record_again_button.hide()
    that.$submit_button.hide()

    that.$element.show()
}
</script>


<script>
"use strict"
$(function(){

window.voicemail_create = new VoicemailCreate("#{{ view.id }}")

})
</script>
{% endblock%}
