{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% block head %}

            {% block meta %}
                {% for meta_tag in meta_tags %}
                    <meta {% for attribute, value in meta_tag.items %}{{ attribute }}="{{ value }}" {% endfor %}/>
                {% endfor %}
            {% endblock %}

            {% block page_title %}
                {% if page_title %}
                    <title>{{ page_title }}</title>
                {% endif %}
            {% endblock%}

            {% block page_icon %}
                {% if page_icon_url %}
                    <link rel="icon" href="{{ page_icon_url }}">
                {% endif %}
            {% endblock %}

            {% block styles %}
            {% endblock %}

            {% block head_scripts %}
                <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/cookies-js@1.2.3/dist/cookies.min.js"></script>

                {% include 'kbde/django/kbde_js.html' %}

                <script>
                    kbde.device_id = new kbde.DeviceId()
                    kbde.timezone_cookie = new kbde.TimezoneCookie()
                </script>
            {% endblock %}

        {% endblock %}
    </head>

    <body style="visibility:hidden;">
        {% block body %}

            <div class="page-content">
                {% block page_content %}
                    {% include content_template_name %}
                {% endblock %}
            </div>

            {% block body_scripts %}
                <script>
                    {% if not settings.HTML_VALIDATE_FORMS %}
                        kbde.novalidate_forms()
                    {%endif%}

                    kbde.show_page()
                </script>
            {% endblock %}

        {% endblock %}
    </body>
</html>
